In [15]:
import pandas as pd

In [50]:
i=0
col=[]
col1=[]
col.append('eid')
col.append('date_off_set')
while(i<=23):
    ans = str(i)+"-"+str((i+1)%24)
    col.append(ans)
    col1.append(ans)
    i+=1

In [27]:
df = pd.DataFrame(columns=col)

In [28]:
df.head()

Empty DataFrame
Columns: [eid, date_off_set, 0-1, 1-2, 2-3, 3-4, 4-5, 5-6, 6-7, 7-8, 8-9, 9-10, 10-11, 11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19, 19-20, 20-21, 21-22, 22-23, 23-0]
Index: []

[0 rows x 26 columns]

In [52]:
df2 = pd.DataFrame(np.zeros((30,24)),columns=col1)

In [65]:
df.head()

Empty DataFrame
Columns: [eid, date_off_set, 0-1, 1-2, 2-3, 3-4, 4-5, 5-6, 6-7, 7-8, 8-9, 9-10, 10-11, 11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19, 19-20, 20-21, 21-22, 22-23, 23-0]
Index: []

[0 rows x 26 columns]

In [54]:
dof = []
for i in range(31):
    dof.append(i)

In [66]:
df1 = pd.DataFrame()

In [84]:
df1['eid']=6
df1['date_off_set']=dof
df3 = pd.concat([df1,df2],axis=1)

In [85]:
df3.head()

,eid,date_off_set,0-1,1-2,2-3,3-4,4-5,5-6,6-7,7-8,...,14-15,15-16,16-17,17-18,18-19,19-20,20-21,21-22,22-23,23-0
0,6,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
df = pd.concat([df,df3])

In [89]:
len(df)

186

In [90]:
df.to_csv('calender_employee.csv',index=False)